# assignments/
# people/
# lectures/
# resources/
# exercise-sets/
# problem-sets/
# solution-sets/
# syllabus/
assignments/
grading
people/
resources/*.tex
resources/figures/
syllabus/*.tex
syllabus/figures/
syllabus/images/
syllabus/preambles/
